<%-include("../partials/header")%>

<a href="/campground/new"><button class="btn-primary btn-lg">add new Camp</button></a>

<a href="/campground"><button class="btn-success btn-lg">show Camps</button></a>

<%-include("../partials/footer")%>